* {
	margin: 0;
	padding: 0;
}

	



body {
	font-family: 'Slabo 35px', serif;
	color: #8DAFE9;
	position: relative;
	z-index: 10;

			background-color: #8DAFE9;
	
}

/****CONTAINER****/

#container {
	margin: 0 auto;
	width: 991px;
	background: #fefefe;
	position: relative;
	z-index: 10;
	clear: both;
	height: 100%;
}

header h1 {
	padding: 20px 0;
	text-align: center;
	font-size: 42px;
}


header h1 span {
	color: #F0F0E1;
}

/**** NAWIGACJA ****/

.nav1 {
	width: 100%;
	background-color: #8DAFE9;
}

.nav1 ul {
	background-color: #8DAFE9;
	list-style: none;
	float: left;
	width: 100%;
	margin-bottom: 20px;
}

.nav1 ul li {
	width: auto;
	float: left;
	padding: 5px;
	margin-right: 10px;
}

.nav1 ul li a {
	text-transform: uppercase;
	text-decoration: none;
	color: #F0F0E1;
}

.nav1 ul li a:hover {
	background: blue;
	color: #fff;
}

.nav2 {
	border: 2px solid #fff;
	padding: 10px;
	background-color: #8DAFE9;
	top: 90px;
	right: 30px;
	position: fixed;
}

.nav2 ul {
	list-style: none;
}

.nav2 ul li a {
	color: #fff;
	text-decoration: none;
}

/****INNE****/

h5 {
text-align: center;
}

.para {
	padding: 5px;
}

figcaption {
	display: none;
}

figure:hover figcaption {
	display: block;
	border-radius: 4px;
	background-color: #000;
	position: absolute;
	top: 380px;
	left: 35px;
}

figure img {
	float: left;
	margin: 0px 15px 5px 15px;
	border-radius: 20px;
}

p {
	font-size: 16px;
	margin: 0 10px;
	line-height: 20px;
}

/**** ASIDE ****/

ol {
	margin: 15px;
	list-style-position: inside;
}

ol li {
	margin: 3px;
}

/****TABLE****/

table {
	clear: both;
	float: left;
	text-align: center;
	margin-left: 230px;
	padding: 5px;
	border-collapse: collapse;
} 

table, th, td {
	padding: 8px;
	border: 2px solid #F0F0E1;
}

th, td {
	width: 100px;
}

th {
	background-color: #0C3472;
}

table tbody tr:hover {
	background-color: #fff;
	color: #1c478e;
}

/****FORM****/

form {
	margin-left: auto;
    margin-right: auto;
    width: 35%;
}

label {
	margin: 5px;
	display: inline-block;
	width: 140px;
}

textarea {
	margin-top: 15px;
	clear: both;
}	

/**** WARSTWA 

.warstwa {
	position: fixed;
	top: 50%;
	top: 50%;
	color: #000;
	background-color: #f0f0f0;
	border: 1px solid red;
	width: 99%;
	z-index: 11;
	width: 20%;
}

.tlo {
	position: fixed;
	background-color: #000;
	opacity: 0.7;
	width: 100%;
	height: 100%;
	z-index: 10;
	left: 0;
	top: 0;
}

****/

.ditejls {
	border: none;
}

.jan-kowalski {
	float: right;
	padding: 10px;
	clear: both;
}
.hrecipe {

	padding-top: 80px;
}

.produkcik {
	float: left;
	padding: 10px;
}

/**** FOOTER ****/

footer {
	clear: both;
	width: 100%;
	background-color: #F0F0E1;
	height: 40px;
}

footer p {
	text-align: center;
	padding-top: 10px;
	text-transform: uppercase;
}
